*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
}

body {
	overflow:hidden;
}

main>nav	 {grid-area: nav;}
main>header	 {grid-area: header;}
main>section {grid-area: articles;}
main>footer {grid-area:footer;}
main {
	grid-template-areas: 
	  "nav header"
      "nav articles" 
      "nav footer";
	display: grid;
	grid-gap: 5px;
	grid-template-columns: minmax(auto, 8rem) 1fr;
	grid-template-rows: 4.70rem auto 3rem;
	height: 100vh;
	overflow:hidden;
	
}

main>header {
	text-align: center;
	display: flex;
	flex-direction: column;	
}

main>nav {
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

main>nav>ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

main>nav>ul li a {
	display: block;
	padding: .5rem .25rem .5rem .5rem;
	text-decoration: none;
	border-radius: 1rem;
}

main>nav>.button {
	margin-top: auto;
}
 
main>section {
	overflow: auto;
	padding: .5rem;
	display: flexbox;
	flexbox-direction: columns;
}
.review-header {grid-area: title;}
.review-figure {grid-area: image;}
.review-content {grid-area: content;}
.review-footer {grid-area: foot;}
.review {
		grid-template-areas: 
	  "image title" 
	  "image content" 
	  "foot foot";
	display: grid;
	grid-column-gap: 1rem;
	grid-template-columns: minmax(min-content, 140px) auto;
	grid-template-rows: auto 1fr auto;
	margin: .5em 0 .5em 0;
	border: 2px solid #444;
	padding: .5rem;
	overflow: auto;
	max-height: calc(100vh - 9.5rem);
}

.review-header{
	margin-bottom: 1em;
}

.review-figure img {
	max-width: 100%;
	display: block;
}

.review-footer {
	margin-top: 1rem;
}

.tag-list {
    display: flex;
    justify-content: flex-start;
    align-items:center;
    flex-wrap: wrap;
    padding-left:0;
}
.tag-list-li {
    margin-left: .5rem;
    padding-right: .5rem;
}

.review-footer, .page-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
	flex-wrap: wrap;
}
.review-footer>div {
	 align-items:center;
	  align-self:center;
	 margin-left:auto;
}

.tab-item {
	text-align: center;
 	padding: .5rem 1rem; 
  }
 
 .deactivate-link { 
  pointer-events:none;
}


#tag-delete-popup, #tag-add-popup {
	 background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    transform: scale(0); 
    display:flex;
    flex-direction: column;  
    width: 60%; 
}

#tag-delete-popup.show-modal, #tag-add-popup.show-modal {
    opacity: 1;
    visibility: visible;
    margin: 1rem auto;
    z-index: 9999;
    transition: visibility 1s linear 1s, opacity 1s 0s, transform 1s;
	position: fixed;
  	left: 50%;
  	top: 15%;
  	transform: translate(-50%, -50%)  scale(1.0);
	 background-color: rgba(0, 0, 0, 0.7);
	padding: 3rem;
}
#tag-delete-popup div, #tag-add-popup div{
    background-color: white;
    padding: .5rem 1rem;    
}

#tag-delete-popup p, #tag-add-popup p {
    background-color: white;
    margin: 1rem auto 0 ; 
    text-align: center;   
}

#tag-add-textbox { width: 100%;}

.not-visible {
	    visibility: hidden;	
}

.visible {
	    visibility: visible;	
}





