<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<!-- 		<link  rel="stylesheet" type="text/css" media="all" th:href="@{/css/layout.css}" /> -->
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/css/style.css}" />
<title>A List of Fake Review Like Item Categories</title>
</head>

<body>


<main> 
	<header>
		<h1>A List of Fake Review Like Item Categories</h1>
	</header>
	<nav>
		<ul th:fragment="category-list" class="menu tag-list list-nostyle shadow-light roundy">
	<li class="menu-item tab-item"><h3>Categories:</h3></li>
	<li class="menu-item tab-item" th:classappend="${selectedCategory}?none:menu-item-active">
		<a href="/reviews">All</a>
	</li>
	<li class="menu-item tab-item" th:each="category: ${categoryList}"
		th:classappend="${selectedCategory == category} ? menu-item-active">
		<a th:href="@{/reviews(categoryId=${category.id})}" th:remove="${selectedCategory}==${category}?tag">
		<th:block th:text="${#strings.capitalize(category.name)}"></th:block></a>
	</li>
</ul>
	</nav>
</main>

</body>
</html>